<?xml version="1.0" encoding="UTF-8"?>
<Context debug="true">
    <Resource name="jdbc/DefaultDB"
              global="jdbc/DefaultDB"
              auth="Container"
              type="javax.sql.DataSource"
              maxActive="100"
              maxIdle="30"
              maxWait="10000"
              url="jdbc:derby://127.0.0.1:1527/calculator;create=true"
              driverClassName="org.apache.derby.jdbc.ClientDriver"
    />
</Context>